<script src="/js/Reserva/listar.js"></script>
<script src="/js/Reserva/filtrar.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>

<div>
    <h1>Reservas Cadastradas</h1>
    <div>
        <div>
            <select class="form-control mb-3" id="selBusca">
                <option selected value="1">Número do quarto</option>
                <option value="2">Nome do hóspede</option>
            </select>
            <div style="display: flex;">
                <input id="inputPesquisa" placeholder="Digite aqui" type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="btnPesquisa">
                        <i class="fas fa-search"> </i> Pesquisar
                    </button>
                    <button class="btn btn-primary" type="button" id="btnTodos" style="margin-left: 1rem;" onclick="window.location.reload();">
                       Trazer todos
                    </button>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" id="btnCadastrarFornecedores" href="/reservas">Cadastrar Reservas</a>
        <button onclick="window.print()" class="btn btn-primary btnExportarPdf">Exportar para PDF</button>
        <button id="btnExportarExcel" class="btn btn-primary btnExportarExcel">Exportar para Excel</button>
    </div>
    <table style="margin-top:10px" class="table table-stripped" id="tabelaFornecedores">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Número do quarto</th>
            <th>Data check-in</th>
            <th>Data check-out</th>
            <th>Numero de adultos</th>
            <th>Numero de crianças</th>
            <th>Data da reserva</th>
            <!--<th class="actions">Ações</th>-->
        </thead>
        <tbody>
            <% for(let i=0; i<lista.length; i++) { %>
                <tr>
                    <td><%=lista[i].resId%> </td>
                    <td><%=lista[i].resPesNome%> </td>
                    <td><%=lista[i].resPesEmail%> </td>
                    <td><%=lista[i].resQuartoId%> </td>
                    <td><%=lista[i].resDataCheckin%> </td>
                    <td><%=lista[i].resDataCheckout%> </td>
                    <td><%=lista[i].resNumAdulto%> </td>
                    <td><%=lista[i].resNumCrianca%></td>
                    <td><%=lista[i].resDataReserva%> </td> 
                   -- <td class="actions">
                        <div>
                            <a href="/fornecedor/alterar/<%= lista[i].resId %>" class="btn btn-primary">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button data-id="<%= lista[i].resId %>" class="btn btn-danger btnExclusao">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>