
<script src="/js/Compra/cadastrar.js"></script>
<div>
    <h1>Cadastrar nova Compra</h1>

    <div>
        <div class="form-group">
            <h3 class="text-center mt-8">Dados Nota</h1>

            <label for="compraCodigo">C칩digo:</label>
            <input class="form-control" type="text" id="compraCodigo" placeholder="Informe o codigo dessa compra..."/>

            <label for="compraCnpj">CNPJ:</label>
            <select class="custom-select" id="compraCnpj" placeholder="Selecione o fornecedor" required>
                <option value="">Selecione o fornecedor</option>
                <% listaFornecedores.map(fornecedor => { %>
                    <option value="<%= fornecedor.fornCnpj %>"> Nome: <%= fornecedor.fornNome %> | CNPJ: <%= fornecedor.fornCnpj %></option>
                <% }) %>
            </select>
            
         

            <label for="compraData">Data:</label>
            <input class="form-control" type="date" id="compraData" placeholder="Informe a data da compra..."/>

            <label for="compraValor">Valor Total:</label>
            <input class="form-control" type="text" id="compraValor" placeholder="Informe o valor total que ir치 pagar na compra..."/>
        </div>
        <div class="form-group">
            <h3 class="text-center mt-8">Itens da nota</h1>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="produto">Produto</label>
                    <select class="custom-select" id="select-produto" required>
                        <option value="">Selecione um produto</option>
                        <% listaProduto.map(produto => { %>
                            <option value=<%= produto.proCodigo %>> <%= produto.proDescricao  %> | Valor Unit치rio  R$<%= produto.proPreco  %> </option>
                        <% }) %>
                    </select>
                   
                </div>
                <div class="col-md-3 mb-3">
                    <label for="itemQuantidade">Quantidade:</label>
                    <input class="form-control" type="number" id="itemQuantidade" min="1"/>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="itemValorPago">Valor Pago Unit치rio:</label>
                    <input class="form-control" type="text" id="itemValorPago" />
                </div>
                <div class="col-md-2 mb-3" style="display: flex; align-items: flex-end;">
                    <button class="btn btn-primary" id="btnAdd" > Adicionar </button>
                </div>
                <a class="btn btn-primary" href="/produtos" style="margin-top: .5rem; margin-bottom: .5rem; margin-left: .2rem; " target="_blank">Produtos</a>
            </div>

            <div id="corpoTabela">

            </div>
        </div>
        <div>
            <button id="btnGravar" class="btn btn-primary">Gravar</button>
            <a class="btn btn-secondary" href="/compras">Voltar</a>
        </div>
    </div>
</div>